body {
    margin: 0;
}
.slick-current {
    width: 100px !important;
}
.single-product .slick-current {
    width: 500px !important;
    height: 500px !important;
}
.product-container {
    display: flex;
    gap: 10%;
}
